<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!

<%= link_to "New Article", new_article_path %>

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>


<div>
  <% if  @page > 1 %>
    <%= link_to 'First', articles_path(page: 1) %>
    <%= link_to '< Previous', articles_path(page: @page-1) %>
  <% else %>
    <span>First</span>
    <span>&#60; Previous</span>
  <% end %>

  <% 1.upto(@total_pages) do |page| %>
    <% if  @page == page%>
      <%= link_to page, articles_path(page: page), style: 'color: #00cccc' %>
    <% else %>
      <%= link_to page, articles_path(page: page) %>
    <% end %>
  <% end %>

  <% if @page < @total_pages %>
    <%= link_to 'Next >', articles_path(page: @page + 1) %>
    <%= link_to 'Last', articles_path(page: @total_pages) %>
  <% else %>
    <span>Next &#62;</span>
    <span>Last </span>
  <% end %>
</div>
